body {
    background: #979797;
    color: black;
    font-size: 16;
    font-weight: bold;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}
.div {
    padding: 15px 20px;
    margin-bottom: 15px;
}
p {
    line-height: 1.35;
    font-size:15;
}
.u {
    text-decoration: underline;
}

.mets {
    background: orange;
}

.dodgers {
    background: blue;
    color: white;
}

.cubs {
    color:#fffefc;
    background: #494949;
}

.pittsburgh {
    background: yellow;
}

.cardinals {
    background: #690804;
    color:#fffefc;
}

.table-container {
    background: black ;
    color: white;
}
table, tr, th, td {
    border: 1px solid white;
    border-collaspe: collaspe;
}
a {
    font-weight: bold;
}
